*{
    outline: none;
}

body {
  background-image: url("/img/atend.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

section {
  background-color: #ededed;
  height: 88vh;
  width: 35vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;
  border-radius: 15px;
}

#cxs {
  display: flex;
  flex-direction: row;
  margin-left: 2vw;
  margin-right: 3vw;
  gap: 0.5vw;
}

.rad {
  background-color: #ffffff;
  padding-top: 1vh;
  height: 18vh;
  width: 15vw;
  border: solid 1px #BFC4CA;
  border-radius: 10px;
}

.option {
  display: flex;
  align-items: center;
  margin: 10px 0;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  padding-left: 28px;
  margin-left: 0.5vw;
}

/* Esconde input */
.option input {
  display: none;
}

/* Checkbox visual */
.check,
.radio {
  width: 18px;
  height: 18px;
  border: 2px solid #555;
  border-radius: 4px;
  position: absolute;
  left: 0;
}

/* Radio vira círculo */
.radio {
  border-radius: 50%;
}

/* Quando marcado — checkbox */
.option input:checked + .check {
  background: #A3B9A5;
  border-color: #A3B9A5;
}

/* Quando marcado — radio */
.option input:checked + .radio {
  background: #A3B9A5;
  border-color: #A3B9A5;
}

.inf{
    color: #3A3A3A;
    font-size: 15pt;
}

.put{
    width: 17vw;
    height: 4vh;
    background-color: #FFFFFF;
    border: solid 1px #BFC4CA;
    border-radius: 5px;
}

.pesquisa{
    background-color: #FFFFFF;
    padding-right: 1vw ;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #BFC4CA;
    border-radius: 10px;
    align-self: flex-end;
    margin-right: 2vw;
    margin-top: 2vw;

}

#pcr{
    border: none;
    background: none;
    outline: none;
}

i{
    color: #3A3A3A;
}

h1{
    color: #AEB9A3;
    font-size: 32pt;
}

button{
    color: #fff;
    background-color: #A3B9A5;
    margin-bottom: 3vh;
    border-radius: 10px;
    border: none;
    height: 4.5vh;
    width: 20vw;
}
