body {
  font-family: 'Segoe UI', sans-serif;
}

.sidebar {
  background:#A3B9A5;
  width: 230px;
  min-height: 100vh;
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 30px;
}

.sidebar a {
  color: white;
  display: flex;
  align-items: center;
  padding: 12px 25px;
  text-decoration: none;
  font-size: 16px;
  transition: background 0.3s;
}

.sidebar a:hover {
  background-color: #A3B9A5;
  border-radius: 10px;
}

.sidebar i {
  margin-right: 10px;
  font-size: 18px;
}
/* Conteúdo */
.conteudo {
    margin-left: 200px;
    padding: 30px;
}

/* Título */
.titulo {
    font-size: 45px;
    color: #6b8d76;
    font-weight: 500;
}

/* GRID DAS CAMPANHAS */
.campanhas-grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px 50px ;
}

/* Caixas das campanhas */
.campanha-titulo {
    font-size: 20px;
    font-weight: 500;
    color: #000;
    margin-bottom: 10px;
}

.campanha-desc {
    font-size: 18px;
    margin-top: 15px;
}

.campanha-img {
    width: 100%;
    height: 300px;
    display: block;
    margin: 0 auto;
}



