body{
    background-image: url("/img/feedbacks.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#cxfd{
    background-color: #EDEDED;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    padding: 5vh;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}

#emotes{
    display: flex;
    gap: 2vh;
    flex-direction: row;
}

#emotes i{
    font-size: 5vh;
    cursor: pointer;
    color: #3A3A3A;
}

textarea{
    background-color: #EBEBEB;
    border: solid 1px #BFC4CA;
    resize: none;
    height: 8vh;
    border-radius: 10px;
}

button{
    height: 4vh;
    width: 15vh;
    align-self: center;
    border: none;
    background-color: #A3B9A5;
    color: #FFFFFF;
    margin-top: 3vh;
    border-radius: 10px;
}

h1{
    text-align: center;
    margin-bottom: 1vh;
    font-weight: bold;
    font-size: 30pt;
    color: #3A3A3A;
}
h3{
    text-align: center;
    color: #3A3A3A;
    margin-bottom: 1vh;
    font-size: 15pt;
}