body{
    background-image: url("/img/userimg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
    background-color: #EDEDED;
    width: 30vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
    border-radius: 20px;
    padding-bottom: 3vh;
}

#formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inp{
    background-color: #FFFFFF;
    border:solid 1px #BFC4CA;
    height: 4vh;
    width: 20vw;
    border-radius: 10px;
    padding-left: 20px;
}
input::placeholder{
    font-size: 12pt;
}

#formulario label{
    color: #3A3A3A;
    font-size: 15pt;
}

h1{
    color: #A3B9A5;
    font-size: 30pt;
}

select{
    width: 20vw;
    background-color: #FFFFFF;
    border: solid 1px #BFC4CA;
    height: 4vh;
    border-radius: 9px;
    color: #3A3A3A;
}

#btncad{
    background-color: #A3B9A5;
    color: #FFFFFF;
    border: none;
    height: 4vh;
    width: 20vw;
    border-radius: 10px;
    margin-top: 4vh;
}


