body {
    background: #fff; 
    margin: 0;
    font-family: "Poppins", sans-serif;
}
.layout {
    display: flex;
}
.sidebar {
    width: 240px;
    background: #A3B9A5;
    padding: 25px 0;
    height: 100vh;
    box-shadow: 2px 0 10px rgba(0,0,0,0.05);
}

.sidebar .item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 14px 25px;
    font-size: 1rem;
    color:#ffff;
    text-decoration: none;
    border-radius: 12px;
    margin: 6px 10px;
}

.conteudo {
    flex: 1;
    padding: 40px 50px;
}

.topo {
    display: flex;
    flex-direction: column;
}

.topo h1 {
    color: #A3B9A5;
    font-size: 2.4rem;
    font-weight: 700;
}

.top-actions {
    margin-top: 25px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-box {
    position: relative;
    width: 380px;
}

.search-box i {
    position: absolute;
    top: 13px;
    left: 12px;
    color: #6b6b6b;
}

.search-box input {
    width: 100%;
    padding: 10px 13px 10px 37px;
    border-radius: 10px;
    border: 1px solid #dce2e6;
    outline: none;
}

.btn-new {
    background: #3DB2E3;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
}

.perfil {
    display: flex;
    align-items: center;
    gap: 10px;
}

.perfil img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.lista {
    margin-top: 35px;
}

.card-paciente {
    background: white;
    border-radius: 14px;
    padding: 18px 22px;
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    gap: 18px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.foto {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.dados h4 {
    font-weight: 700;
    margin: 0;
}

.dados p {
    margin: 0;
    color: #6b6b6b;
    font-size: 0.9rem;
}

.ultima {
    margin-left: auto;
    margin-right: 15px;
    color: #6b6b6b;
}

.badge-status {
    padding: 6px 14px;
    border-radius: 10px;
    font-size: 0.85rem;
    font-weight: 600;
}

.verde {
    background: #DFF2D8;
    color: #2d6f39;
}

.azul {
    background: #CFE9FF;
    color: #1377BB;
}

.badge-ativa {
    background: #F2F4F7;
    padding: 6px 14px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 0.85rem;
}

.paginacao {
    display: flex;
    gap: 8px;
    margin: 35px auto 0;
}

.pg {
    background: #F2F4F7;
    border: none;
    padding: 6px 14px;
    border-radius: 8px;
    font-size: 0.9rem;
}
.pg.ativo {
    background: #D8EFFF;
    font-weight: 600;
}

.sidebar .nav-link {
  font-size: 1.1rem;
  border-radius: 8px;
  padding: 15px 15px;
  color: white;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
 background-color: #A3B9A5;
}


.card-shadow {
    background: #ffffff;
    border-radius: 16px;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.06);
}

.novo-btn {
    color: #fff;
    background: #A3B9A5;
    border: none;
    padding: 10px 18px;
    border-radius: 10px;
    font-weight: 500;
}


