body{
    margin: 0;
    padding: 0;
    background: url(/img/logimg.jpg)no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
}
.container{
    width: 70%;
    margin: 30px auto;
    text-align: center;
    font-family: Arial, sans-serif;
}
h1{
    color: #33516B;
    margin-bottom: 25px;
}

.box{
    background-color: #fff;
    width: 520px;
    margin: 20px auto;
    padding: 22px 20px;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.08);
    min-height: 220px;

}
label{
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-size: 15px;
}
input{
    width: 50%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    text-align: left;
    display: block;
    margin-left: 0;
    outline: none;
}

.ag-register-btn{
    margin-top: 18px;
    padding: 12px 40px;
    background: #A3B9A5;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
}