body {
  margin: 0;
  background-color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  
  
}


.sidebar {
  width: 200px;
  min-height: 100vh;
  background: #A3B9A5;
  display: flex;
  flex-direction: column;
  padding-top:30px;
  border-bottom-right-radius: 15px;
}

.sidebar a {
  color: white;
  display: flex;
  align-items: center;
  padding: 20px 30px;
  text-decoration: none;
  font-size: 16px;
  transition: background 0.3s;
}


.content {
  flex: 1;
  padding: 50px;
}

.content h1 {
  font-size: 2rem;
  margin-bottom: 30px;
  font-weight: 700;
  color:#A3B9A5 ;
}

.form-box {
  background-color: #A3B9A5;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 600px;
}

label {
  display: block;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 8px;
  margin-top: 15px;
}

input[type="text"],
textarea,
input[type="file"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #A3B9A5;
  border-radius: 10px;
  margin-bottom: 15px;
  font-size: 1rem;
  outline: none;
  background-color: #ffffff;
}

textarea {
  resize: none;
  height: 90px;
}

.btn {
  background-color: #89ac8c;
  color: #fff;
  border: none;
  padding: 12px 35px;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  float: right;
  transition: 0.3s ease;
}

.btn:hover {
  background-color: #A3B9A5;
  transform: translateY(-2px);
}

.sidebar .nav-link {
  font-size: 1.1rem;
  border-radius: 8px;
  padding: 15px 15px;
  color: white;
}
